* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

#videoTrailer {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 99vw;
    min-height: 100%;
}


#fotoTrailer{
    position: absolute;
    height: 100%;
    width: 1664px;
    z-index: -1;
}

/* NAVEGACION */

#nombreTienda{
    font-weight: 600;
    margin-right: 60px;
}

#nuevo, #colecciones{
    font-weight: 300;
    font-size: 18px;
}

#buscador{
    font-weight: 300;
    font-size: 14px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

a {
    color: white;
    text-decoration: none;
    text-shadow: black;
    z-index: 200;
}

ul {
    list-style: none;
}

.navegacion {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 0;
    position: relative;
}

.navegacion ul {
    display: flex;
}

.navegacion ul li {
    padding: 10px;
}

.navegacion ul li a {
    padding: 2px;
}

.navegacion ul.nav-menu-left {
    margin-left: 5%;
}

.navegacion ul.nav-menu-right {
    margin-right: 5%;
}

/* BOTON MUTE VIDEO */

.boton {
    position: absolute;
    right: 5.59vw;
    bottom: 5%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-color: transparent;
    font-size: x-large;
    background-color: rgb(170, 170, 170);
    opacity: 0.8;
}

@media (max-width: 1464px) {
    .boton, #videoTrailer {
        display: none;
    }

    .navegacion{
        background-color: black;
    }
}