* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {}

article {
    position: relative;
}

iframe{
    top: 0;
    left: 0;
    min-width: 99vw;
    min-height: 100vh;

}

@media all and (max-width: 99vw) {

    iframe {
        display: none;
    }

    a {
        color: black;
        text-decoration: none;
        text-shadow: black;
    }

}