* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}


/* NAVEGACION */

#nombreTienda {
    font-weight: 600;
    margin-right: 60px;
}

#nuevo,
#colecciones {
    font-weight: 300;
    font-size: 18px;
}

#buscador {
    font-weight: 300;
    font-size: 14px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

a {
    color: white;
    text-decoration: none;
    text-shadow: black;
    z-index: 1200;
}

ul {
    list-style: none;
}

.navegacion {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 0;
    position: relative;
}

.navegacion ul {
    display: flex;
}

.navegacion ul li {
    padding: 10px;
}

.navegacion ul li a {
    padding: 2px;
}

.navegacion ul.nav-menu-left {
    color: white;
    margin-left: 5%;
}

.nav-menu-right a {
    color: #3d5b9c;
}

.navegacion ul.nav-menu-right {
    margin-right: 5%;
}

.puzzle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info {
    text-align: center;
    background-color: #3d5b9c;
    color: white;
    height: 100%;
    width: 100%;
    padding: 10% 10%;
    position: relative;
}

ul {
    list-style: none;
}

.vertical-menu ul {
    display: flex;
    flex-direction: column;
}

.vertical-menu ul.vertical-menu-top {
    margin-top: 15%;
}

.vertical-menu ul.vertical-menu-bottom {
    margin-bottom: 15%;
}

.vertical-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /**/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.rompecabezas {
    position: relative;
    margin: auto;
    padding: 5% 5%;
}

#div_content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2.5cm;
    margin-bottom: 120px;
}

h3 {
    text-align: center;
    font-size: 1cm;
    margin-top: 25px;
    margin-bottom: 120px;
}

h4 {
    font-weight: 450;
    font-size: large;
}

.descripcion {
    font-size: large;
}

button {
    font-size: 0.5cm;
    height: 40px;
    width: 200px;
    background-color: #3d7aba;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

button:hover {
    box-shadow: 0 0 10px 0 #6184cf inset, 0 0 10px 4px #6184cf;
    color: #bdc7df;
}

table {
    border: 2px solid #2980B9;
    box-shadow: 1px 1px 8px #6184cf, -1px -1px 8px #6184cf, 1px -1px 8px #6184cf, -1px 1px 8px #6184cf;
    -webkit-box-shadow: 1px 1px 8px #6184cf, -1px -1px 8px #6184cf, 1px -1px 8px #6184cf, -1px 1px 8px #6184cf;
    border-collapse: collapse;
    width: 640px;
    height: 640px;
}

td.pieza {
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    cursor: pointer;
}