* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.trivial {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info {
    text-align: center;
    background-color: #3d5b9c;
    color: white;
    height: 100%;
    width: 100%;
    padding: 10% 10%;
}

.preguntas {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: auto;
    padding: 10% 5%;
}

form {
    height: 120%;
    width: 100%;
}

.fondo {
    background-color: #3d5b9c;
    padding: 5% 10%;
    color: white;
}

.respuestas {
    height: 100%;
    padding: 5% 10%;
}

label {
    font-size: medium;
}

h2 {
    text-align: center;
    font-size: 2.5cm;
    margin-bottom: 120px;
}

h3 {
    text-align: center;
    font-size: 1cm;
    margin-top: 25px;
    margin-bottom: 120px;
}

h4 {
    font-weight: 450;
    font-size: large;
}

.descripcion {
    font-size: large;
}

button {
    font-size: 0.5cm;
    height: 40px;
    width: 200px;
    background-color: #3d7aba;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

button:hover {
    box-shadow: 0 0 10px 0 #6184cf inset, 0 0 10px 4px #6184cf;
    color: #bdc7df;
}