* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}


/* NAVEGACION */

#nombreTienda {
    font-weight: 600;
    margin-right: 60px;
}

#nuevo,
#colecciones {
    font-weight: 300;
    font-size: 18px;
}

#buscador {
    font-weight: 300;
    font-size: 14px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

a {
    color: white;
    text-decoration: none;
    text-shadow: black;
    z-index: 200;
}

ul {
    list-style: none;
}

.navegacion {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 0;
    position: relative;
    background-color: #2980B9;
    color: white;
}

.navegacion ul {
    display: flex;
}

.navegacion ul li {
    padding: 10px;
}

.navegacion ul li a {
    padding: 2px;
}

.navegacion ul.nav-menu-left {
    margin-left: 5%;
}

.navegacion ul.nav-menu-right {
    margin-right: 5%;
}

.cuenta {
    position: relative;
    display: flex;
    margin: auto;
    height: 100%;
    width: 80%;
}

.perfil {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #2980B9;
    height: 100vh;
    width: 400px;
}

.vertical-menu h4 {
    margin-top: 20%;
    margin-left: 15%;
}

.vertical-menu h1 {
    margin-left: 15%;
    margin-bottom: 15%;
}

.vertical-menu {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /**/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.vertical-menu ul {
    display: flex;
    flex-direction: column;
}

text {
    padding-left: 10px;
}

ul {
    list-style: none;
}

.vertical-menu a {
    display: flex;
    background-color: #2980B9;
    color: #d4d4d4;
    padding: 20px 45px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: rgba(93, 173, 226, 0.7);
    color: black;
}

.vertical-menu a#etiquetaPuntos:hover {
    background-color: #2980B9;
    color: #d4d4d4;
    cursor: auto;
    -webkit-user-drag: none;
}

.vertical-menu a.active {
    background-color: rgba(93, 173, 226, 0.7);
    color: black;
}

.vertical-menu ul.vertical-menu-top {
    margin-top: 5%;
}

.vertical-menu ul.vertical-menu-bottom {
    margin-bottom: 30%;
}

.operaciones {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
}

h1 {
    margin-bottom: 5%;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: medium;
    font-weight: 600;
}

input {
    height: 30px;
    width: 200px;
    line-height: normal;
    border-width: 1px;
    border-radius: 5px;
    padding: 3px 7px;
}

button {
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    font-family: 'Ubuntu', sans-serif;
    margin: 10% 30%;
    width: 120px;
    text-align: center;
    cursor: pointer;
    border-color: #2980B9;
    color: white;
    box-shadow: 0 0 40px 40px #2980B9 inset, 0 0 0 0 #2980B9;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

button:hover {
    box-shadow: 0 0 10px 0 #2980B9 inset, 0 0 10px 4px #2980B9;
    color: black;
}

.image {
    height: 400px;
    margin-right: 50px;
    cursor: pointer;
}

#menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 50px;
}

.texto {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.album {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}

.text,
.estado,
.numCromos {
    padding-bottom: 15px;
}

#menuCromos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 50px;
}

#menuCromos .image {
    margin-bottom: 10px;
}

.cromos {
    margin-bottom: 50px;
}